In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('data.csv')

In [7]:
df.head()

,Age,Gender,Degree,Title,Industry of employer,Size of employer,State of employer in incorporate machine learning into business,Yearly salary > $100k,Years of coding experience,Years of experience in machine learning methods,...,Regularly use Scikit-learn,Regularly use TensorFlow,Regularly use Keras,Regularly use PyTorch,Regularly use Xgboost,Regularly use Linear or Logistic Regression,Regularly use Decision Trees or Random Forests,Regularly use Gradient Boosting Machines,Regularly use Bayesian Approaches,Regularly use Convolutional Neural Networks
0,55-59,Man,4,Software Engineer,Computers/Technology,1,recently started,No,5,5.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,30-34,Woman,4,Data Scientist,Other,5,recently started,No,4,6.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
2,40-44,Man,3,Research Scientist,Manufacturing/Fabrication,4,I do not know,No,1,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,50-54,Man,4,Data Engineer,Computers/Technology,5,well established,Yes,6,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35-39,Man,6,Research Scientist,Medical/Pharmaceutical,5,for insights only,Yes,5,7.0,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Yearly salary > $100k'] = le.fit_transform(df['Yearly salary > $100k'])
df.head()

,Age,Gender,Degree,Title,Industry of employer,Size of employer,State of employer in incorporate machine learning into business,Yearly salary > $100k,Years of coding experience,Years of experience in machine learning methods,...,Regularly use Scikit-learn,Regularly use TensorFlow,Regularly use Keras,Regularly use PyTorch,Regularly use Xgboost,Regularly use Linear or Logistic Regression,Regularly use Decision Trees or Random Forests,Regularly use Gradient Boosting Machines,Regularly use Bayesian Approaches,Regularly use Convolutional Neural Networks
0,55-59,Man,4,Software Engineer,Computers/Technology,1,recently started,0,5,5.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,30-34,Woman,4,Data Scientist,Other,5,recently started,0,4,6.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
2,40-44,Man,3,Research Scientist,Manufacturing/Fabrication,4,I do not know,0,1,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,50-54,Man,4,Data Engineer,Computers/Technology,5,well established,1,6,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35-39,Man,6,Research Scientist,Medical/Pharmaceutical,5,for insights only,1,5,7.0,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0

In [9]:

from sklearn.preprocessing import OrdinalEncoder
from numpy import asarray
oe= OrdinalEncoder()
#oe.fit(df['Age'])

data=[]
cat=df['Age'].unique().tolist()
for i in df['Age'].unique().tolist():
  data.append([i])

result= oe.fit_transform(asarray(data))
results=[]
for i in result:
  results.append(i[0])
  
df['Age'].replace(cat,results,inplace=True)
df.head()

,Age,Gender,Degree,Title,Industry of employer,Size of employer,State of employer in incorporate machine learning into business,Yearly salary > $100k,Years of coding experience,Years of experience in machine learning methods,...,Regularly use Scikit-learn,Regularly use TensorFlow,Regularly use Keras,Regularly use PyTorch,Regularly use Xgboost,Regularly use Linear or Logistic Regression,Regularly use Decision Trees or Random Forests,Regularly use Gradient Boosting Machines,Regularly use Bayesian Approaches,Regularly use Convolutional Neural Networks
0,8.0,Man,4,Software Engineer,Computers/Technology,1,recently started,0,5,5.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,3.0,Woman,4,Data Scientist,Other,5,recently started,0,4,6.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
2,5.0,Man,3,Research Scientist,Manufacturing/Fabrication,4,I do not know,0,1,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7.0,Man,4,Data Engineer,Computers/Technology,5,well established,1,6,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,Man,6,Research Scientist,Medical/Pharmaceutical,5,for insights only,1,5,7.0,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0

In [10]:
from sklearn.preprocessing import OneHotEncoder

ohe_bigd = OneHotEncoder()
bigd_arr = ohe_bigd.fit_transform(df['Most frequently used big data products'].to_numpy().reshape(-1, 1))
bigd = pd.DataFrame(bigd_arr.todense().astype(int), columns=ohe_bigd.get_feature_names_out(['bigd']))
df = pd.concat([df, bigd], axis=1)
df = df.drop(['Most frequently used big data products'], axis=1)

df.head(15)

,Age,Gender,Degree,Title,Industry of employer,Size of employer,State of employer in incorporate machine learning into business,Yearly salary > $100k,Years of coding experience,Years of experience in machine learning methods,...,bigd_Microsoft Azure SQL Database,bigd_Microsoft SQL Server,bigd_MongoDB,bigd_MySQL,bigd_Oracle Database,bigd_Other,bigd_PostgreSQL,bigd_SQLite,bigd_Snowflake,bigd_nan
0,8.0,Man,4,Software Engineer,Computers/Technology,1,recently started,0,5,5.0,...,0,0,0,1,0,0,0,0,0,0
1,3.0,Woman,4,Data Scientist,Other,5,recently started,0,4,6.0,...,0,0,0,0,0,0,0,0,0,1
2,5.0,Man,3,Research Scientist,Manufacturing/Fabrication,4,I do not know,0,1,1.0,...,0,0,0,0,0,0,0,0,0,1
3,7.0,Man,4,Data Engineer,Computers/Technology,5,well established,1,6,1.0,...,0,0,0,1,0,0,0,0,0,0
4,4.0,Man,6,Research Scientist,Medical/Pharmaceutical,5,for insights only,1,5,7.0,...,0,0,0,0,0,0,1,0,0,0
5,2.0,Man,4,Data Scientist,Online Service/Internet-based Services,4,recently started,0,2,3.0,...,0,0,0,0,0,0,0,0,0,1
6,8.0,Man,3,Software Engineer,Other,2,for insights only,0,6,7.0,...,0,1,0,0,0,0,0,0,0,0
7,3.0,Man,4,Business Analyst,Accounting/Finance,5,recently started,0,2,2.0,...,0,0,0,0,0,0,0,0,0,1
8,8.0,Man,3,Other,Medical/Pharmaceutical,4,exploring,0,2,1.0,...,0,0,0,0,0,0,0,0,0,1
9,5.0,Woman,4,Other,Academics/Education,2,recently started,0,4,6.0,...,0,0,0,0,0,0,0,0,0,1
10,8.0,Man,4,Data Scientist,Medical/Pharmaceutical,4,recently started,0,6,3.0,...,0,0,0,0,0,0,0,0,0,0
11,10.0,Man,4,Other,Energy/Mining,1,recently started,1,3,4.0,...,0,0,0,0,0,0,0,0,0,1
12,10.0,Woman,4,Data Analyst,Government/Public Service,4,exploring,0,6,3.0,...,0,0,0,0,1,0,0,0,0,0
13,9.0,Man,4,Product Manager,Computers/Technology,1,exploring,0,6,4.0,...,0,0,0,1,0,0,0,0,0,0
14,3.0,Man,4,Data Scientist,Online Business/Internet-based Sales,1,recently started,1,5,7.0,...,0,0,0,0,0,0,0,0,1,0

In [12]:
from sklearn.preprocessing import OneHotEncoder


ohe = OneHotEncoder()
l=['Title','Gender','Industry of employer','State of employer in incorporate machine learning into business','Most frequently used data science platform', 'Primary tool for analyzing data']
for i in l:
  a=ohe.fit_transform(df[i].to_numpy().reshape(-1, 1))
  x=pd.DataFrame()
  x=pd.DataFrame(a.todense().astype(int), columns=ohe.get_feature_names_out([i]))
  df = pd.concat([df, x], axis=1)
  df = df.drop([i], axis=1)

KeyError: 'Title'

In [14]:
df=pd.read_csv('data_processed.csv')
df.head()

,Age,Degree,Size of employer,Yearly salary > $100k,Years of coding experience,Years of experience in machine learning methods,Experience with TPU,Regularly use Python,Regularly use R,Regularly use SQL,...,platform_desktop,platform_laptop,platform_nan,tool_Advanced statistical software,tool_Basic statistical software,tool_Business intelligence software,tool_Cloud-based data software & APIs,tool_Local development environments,tool_Other,tool_nan
0,8.0,4,1,0,5,5.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,1,0,0,0
1,3.0,4,5,0,4,6.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,1,0,0,0
2,5.0,3,4,0,1,1.0,1.0,0.0,0.0,0.0,...,0,1,0,1,0,0,0,0,0,0
3,7.0,4,5,1,6,1.0,4.0,1.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
4,4.0,6,5,1,5,7.0,3.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,1,0,0

In [16]:
from sklearn.model_selection import train_test_split

features = df.loc[:,~df.columns.isin(['Yearly salary > $100k'])]
labels = df[['Yearly salary > $100k']]

X_train, X_test, y_train, y_test = train_test_split(features.values, labels.values, test_size=0.20, stratify=labels, random_state=42)

In [17]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Input
from keras.layers import Dense
from sklearn.metrics import mean_squared_error
input_dim = 0
output_dim = 0
middle_dim = 0

In [18]:
def create_model(hidden_layer_dim=0):
  model = Sequential()
  model.add(Input(shape=(input_dim,)))
  model.add(Dense(output_dim))
  return model

input_dim = X_train.shape[1]
output_dim = 1
model = create_model()

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1)                 96

=================================================================
Total params: 96
Trainable params: 96
Non-trainable params: 0
_________________________________________________________________

In [19]:
optim = tf.keras.optimizers.SGD(learning_rate=0.01)
model.compile(loss='mean_squared_error', optimizer=optim)
model.fit(X_train, y_train, batch_size=32, epochs=50, shuffle=True)

Epoch 1/50
47/47 [==============================] - 0s 2ms/step - loss: 0.5385
Epoch 2/50
47/47 [==============================] - 0s 1ms/step - loss: 0.3256
Epoch 3/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2492
Epoch 4/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2543
Epoch 5/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2082
Epoch 6/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2185
Epoch 7/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2156
Epoch 8/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2344
Epoch 9/50
47/47 [==============================] - 0s 2ms/step - loss: 0.2315
Epoch 10/50
47/47 [==============================] - 0s 2ms/step - loss: 0.1981
Epoch 11/50
47/47 [==============================] - 0s 2ms/step - loss: 0.1826
Epoch 12/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2411
Epoch 13/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1753
Epoch 14/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1908
Epoch 15/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1953
Epoch 16/50
47/47 [==============================] - 0s 2ms/step - loss: 0.1833
Epoch 17/50
47/47 [==============================] - 0s 2ms/step - loss: 0.1839
Epoch 18/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1772
Epoch 19/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1842
Epoch 20/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2051
Epoch 21/50
47/47 [==============================] - 0s 2ms/step - loss: 0.1870
Epoch 22/50
47/47 [==============================] - 0s 2ms/step - loss: 0.1808
Epoch 23/50
47/47 [==============================] - 0s 2ms/step - loss: 0.2026
Epoch 24/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2347
Epoch 25/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1729
Epoch 26/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1602
Epoch 27/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2327
Epoch 28/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1724
Epoch 29/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2135
Epoch 30/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2509
Epoch 31/50
47/47 [==============================] - 0s 2ms/step - loss: 0.2339
Epoch 32/50
47/47 [==============================] - 0s 2ms/step - loss: 0.1667
Epoch 33/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2615
Epoch 34/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1918
Epoch 35/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1617
Epoch 36/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1877
Epoch 37/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1509
Epoch 38/50
47/47 [==============================] - 0s 2ms/step - loss: 0.2253
Epoch 39/50
47/47 [==============================] - 0s 2ms/step - loss: 0.1543
Epoch 40/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2182
Epoch 41/50
47/47 [==============================] - 0s 1ms/step - loss: 0.2556
Epoch 42/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1953
Epoch 43/50
47/47 [==============================] - 0s 2ms/step - loss: 0.1597
Epoch 44/50
47/47 [==============================] - 0s 2ms/step - loss: 0.1491
Epoch 45/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1683
Epoch 46/50
47/47 [==============================] - 0s 1ms/step - loss: 0.1668
Epoch 47/50
47/47 [==============================] - 0s 2ms/step - loss: 0.1722
Epoch 48/50
47/47 [==============================] - 0s 2ms/step - loss: 0.2234
Epoch 49/50
47/47 [==============================] - 0s 2ms/step - loss: 0.2349
Epoch 50/50
47/47 [==============================] - 0s 2ms/step - loss: 0.2901

In [20]:
y_pred = model.predict(X_test)

print('Mean Squared Error: ', mean_squared_error(y_test, y_pred))

12/12 [==============================] - 0s 3ms/step
Mean Squared Error:  0.17601757555117153

In [21]:
from sklearn.metrics import accuracy_score
import numpy as np

# Method for calculating classification accuracy. 
def accuracy(y_test, y_pred):
  pred = np.array([1 if value>=0.5 else 0 for value in y_pred])
  return accuracy_score(y_test, pred)

# Method for setting the dimensionality of various layers.
def set_dim():
  global input_dim, output_dim, middle_dim
  input_dim = X_train.shape[1]
  output_dim = 1
  middle_dim = 20

# Method for training models and making predictions using the models. 
def fit_predict(model):
  optim = tf.keras.optimizers.SGD(learning_rate=0.001)
  model.compile(loss='mean_absolute_error', optimizer=optim)
  model.fit(X_train, y_train, batch_size=300, epochs=15, verbose=0, shuffle=True)
 
  y_pred = model.predict(X_test)

  print('Mean Squared Error: ', mean_squared_error(y_test, y_pred))
  print('Accuracy: ', accuracy(y_test, y_pred))

In [22]:
# code for task 7
from tensorflow.keras import layers
from tensorflow.keras import activations
from tensorflow.keras import regularizers

def create_model(hidden_layer_dim):
  model = Sequential()
  model.add(Input(shape=(input_dim,)))

  # The code you are adding should be inside the function create_model()
  # DO NOT CHANGE ANYTHING ABOVE. FILL IN YOUR CODE BELOW.
  model.add(layers.Dense(1, activation='sigmoid'))
  # DO NOT CHANGE ANYTHING BELOW. FILL IN YOUR CODE ABOVE.
  return model

set_dim()
model = create_model(hidden_layer_dim=middle_dim)
fit_predict(model)

12/12 [==============================] - 0s 1ms/step
Mean Squared Error:  0.3574829246563729
Accuracy:  0.3685636856368564

In [23]:
def create_model(hidden_layer_dim):
  model = Sequential()
  model.add(Input(shape=(input_dim,)))

  # The code you are adding should be inside the function create_model()
  # DO NOT CHANGE ANYTHING ABOVE. FILL IN YOUR CODE BELOW.
  model.add(tf.keras.layers.Dense(1,activation='relu'))

  # DO NOT CHANGE ANYTHING BELOW. FILL IN YOUR CODE ABOVE.
  return model

set_dim()
model = create_model(hidden_layer_dim=middle_dim)
fit_predict(model)

12/12 [==============================] - 0s 2ms/step
Mean Squared Error:  0.2394447037231038
Accuracy:  0.7289972899728997